OPENAI_API_KEY=xxx
INDEX_NAME=pincone-index-name
PINECONE_API_KEY=xxx
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_api_key"
LANGSMITH_PROJECT="Your Langsmith Project Name"